# macOS system files
.DS_Store
.AppleDouble
._*

# Log files
*.log

# Backup and temporary files
*.bak
*.tmp

# Environment variables
.env

# Editor directories
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

